<div class="container">
  <div class="row">
      <h1 class="pull-left">Gourmet Resume <small>built with Ember.js by Will Naugle</small></h1>
      <div id="menu-button" class="pull-right" {{action "open" on="click"}}>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>

  {{outlet}}

  {{form-app}}
</div>
